* {
    margin: 3px auto;
    padding: 0px;
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: #000;
}

li {
    list-style: none;
}

.header {
    background-color: aqua;
    width: 100%;
    height: 12vh;
    margin: 0px 5px;
}

.header_top {
    background: lightgray;
    width: 90%;
    height: 8vh;
    display: flex;
    justify-content: space-around;
}

.header_top img {
    margin: 0;
    width: 150px;
    height: 45px;
}

.div_login {
    position: relative;
    top: 4vh;
    font-size: small;
}

#ul_menu {
    background-color: antiquewhite;
    height: 6vh;
    text-align: center;
}

.li_menu {
    position: relative;
    font-size: x-large;
    display: inline-block;
    padding-left: 40px;
    padding-right: 40px;
    background-color: aquamarine;
}
#ul_intro, #ul_ranking, #ul_community, #ul_board {
	background-color: pink;
    position: absolute;
    left: 15px;
    padding-top: 10px;
    display: none;
}

.li_sub {
    padding: 8px;
}

#ul_menu :hover  {
    opacity: 0.5;
}

#ul_menu :hover>#ul_intro{
    display: block;
    opacity: 2;
}
#ul_menu :hover>#ul_ranking{
    display: block;
}
#ul_menu :hover>#ul_community{
    display: block;
}
#ul_menu :hover>#ul_board{
    display: block;
}

.sel_team {
    display: none;
}
.on {
	display: block;
}
.y_login {
    display: none;
}