@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  transition: 0.5s;
}

#gameform {
  width: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game_form {
  /* background: lightgray; */
  width: 800px;
  border: 1px solid #332433;
  border-radius: 5px;
}

.game_form legend {
  font-size: x-large;
  padding: 5px;
  margin-bottom: 10px;
  text-align: center;
}

.game_form table {
  display: flex;
  justify-content: center;
}
input {
  margin: 3px;
  padding: 5px;
}
table {
  padding: 5px;
}
label {
  padding: 5px;
}
tr {
  display: flex;
  justify-content: space-between;
}
td {
  display: flex;
  justify-content: space-between;
}