<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/team.css">
    <title>Document</title>
</head>
<script type="text/javascript" src="../../static/js/team.js"></script>
<body>
    <div class="wrap">
        <h2>5월 26일 프로야구</h2>
        <div class="info_box">
            <h4>대구 라이온즈 파크</h4>
            <div class="game_info">
                <div class="home">
                    <p>삼성</p>
                    <p class="img_player"><img src="../../static/img/player/뷰캐넌.jpg" alt="사진"></p>
                    <p>뷰캐넌</p>
                    <p>방어율 <span>: <b>2.07</b></span></p>
                    <p>최근 <span>: 3L</span></p>
                </div>
                <div class="away">
                    <p>기아</p>
                </div>
            </div>
            <p class="final_score">이전 경기 : <span>0-0</span></p>
        </div>
        <div class="info_box">2</div>
        <div class="info_box">3</div>
        <div class="info_box">4</div>
        <div class="info_box">5</div>
    </div>
</body>
</html>